/* Write your CSS here */

.latest-match-details {
  width: 95%;
  height: 350px;
  background-color: #0f172a;
  border-radius: 10px;
  color: whitesmoke;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 33%;
}

.competing-team-logo {
  width: 220px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

.innings-details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  width: 33%;
  height: 100%;
  font-size: 11px;
}
.innings {
  width: 33%;
}

.card-head {
  font-size: 13px;
}
